body {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #999999;
	line-height: 1.6;
}

.container {
	width: 100%;
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
	box-sizing: border-box;
}

/******* HEADER *******/

.header {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
}

.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 90px;

}

.menu__logo {
	display: inline-block;
	font-weight: 700;
	font-size: 30px;
	color: #ffffff;
	align-self: flex-start;
	margin-top: 17px;
	transition: border 0.3s;
}

.menu__logo:hover {
	color: #f8d65e;
}

.menu__list {
	display: flex;
	justify-content: space-between;
	min-width: 620px;
}

.menu__link {
	font-size: 14px;
	color: #ffffff;
	text-transform: uppercase;
	transition: border 0.3s;
}

.menu__link:hover {
	color: #f8d65e;
	padding-bottom: 10px;
	border-bottom: 3px solid #f8d65e;
}

/****** INTRO *******/

.intro {
	height: 100vh;
	width: 100%;
	background: url("../img/header/header-bg.jpg") center no-repeat;
	background-size: cover;
	background-color: #ecaa86;
	padding-top: 230px;
	box-sizing: border-box;
}

.intro__inner {
	max-width: 860px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	color: #ffffff;
}

.intro__subtitle {
	font-family: "Kaushan Script", sans-serif;
	font-size: 72px;
	font-weight: 400;
}

.intro__title {
	font-size: 150px;
	font-weight: bold;
	line-height: 0.94;
	text-transform: uppercase;
	margin-top: 20px;
}

.decoration-line::after {
	content: "";
	display: block;
	margin: 0 auto;
	margin-top: 30px;
	width: 60px;
	height: 3px;
	background-color: #f38181;
}

.intro__title.decoration-line::after {
	background-color: #fff;
	margin-top: 55px;
}

.intro__btn {
	display: block;
	margin: 0 auto;
	margin-top: 50px;
	padding: 6px 0;
	width: 154px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	border: 3px solid #fff;
	transition: border 0.3s;	
}

.intro__btn:hover {
	border-color: #eaff00;
}

/****** section-header *******/

.section-header {
	max-width: 950px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	color: #333333;
}

.section-header__subtitle {
	font-family: "Kaushan Script", sans-serif;
	font-size: 24px;
	font-weight: 400;

}

.section-header__title {
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
}



.section-header__paragraph {
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	color: #999999;
	margin-top: 41px;
}

/****** ABOUT *******/

.about {
	padding-top: 85px;
	padding-bottom: 90px;
}

.about__content {
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
	flex-wrap: wrap;
}

.about__item {
    width: 380px;
    position: relative;
    background-color: #95e1d3;
    margin-bottom: 20px;
}

.about__img {
    background: linear-gradient(to bottom, #f38181, #fce38a);
    transition: transform .2s linear;
}

.about__img img {
    display: block;
    transition: opacity 0.1s linear;
}

.about__item:hover .about__img {
    transform: translate3d(-10px, -10px, 0);
}

.about__item:hover .about__img img {
    opacity: 0.1;
}

.about__item:hover .about__text {
	opacity: 1;
}

.about__text {
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	position: absolute;
	text-align: center;
	width: 100%;
	top: 50%;
	left: 0;
	transform: translate3d(0, -50%, 0);
	opacity: 0;
}

/****** statistics *******/

.statistics {
	background-color: #95e1d3;
	color: #fff;
}

.statistics__list {
	display: flex;
}

.statistics__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-left: 1px solid #b5eae0;
	width: 20%;
	height: 270px;
}

.statistics__item:last-child {
	border-right: 1px solid #b5eae0;
}

.statistics__number {
	font-weight: 700;
	font-size: 72px;
}

.statistics__text {
	font-size: 14px;
	text-transform: uppercase;
}

/****** SERVICE *******/

.service {
	padding-top: 100px;
	padding-bottom: 70px;
}

.service__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 14px;
}

.service__item {
	position: relative;
	width: 280px;
	margin: 44px 0 50px 0;
	padding-left: 88px;
	padding-right: 30px;
}

.service__item::before {
	content: "";
	display: block;
	position: absolute;
	background: url(../img/service/css_sprites.png) no-repeat;
	top: 5px;
	left: 28px;
	width: 32px;
	height: 32px;
}

.service__title {
	font-size: 14px;
	font-weight: 400;
	color: #333;
	text-transform: uppercase;
	margin-bottom: 8px;
}

.service__text {
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	color: #999;
}

.service__line {
	width: 100%;
	background-color: #e5e5e5;
}

/****** SERVICE ICONS*******/

.service__icon_alarm::before {
	background-position: -1px -31px;
}

.service__icon_line::before {
	background-position: -1px -131px;
}

.service__icon_computer::before  {
	background-position: -1px 1px;
}

.service__icon_book::before  {
	background-position: -1px -97px;
}

.service__icon_home::before  {
	background-position: -1px -64px;
}

.service__icon_square::before  {
	background-position: -1px -165px;
}

/****** features *******/

.features {
	height: 850px;
	background: url(../img/feature/feature-bg.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 102px;
	box-sizing: border-box;
}

.devices {
	max-width: 600px;
	width: 100%;
	height: 582px;
	margin: 0 auto;
	margin-top: 45px;
	position: relative;
}

.devices__display {
	background: url("../img/feature/display.png") no-repeat;
	height: 582px;
	width: 477px;
	position: absolute;
}

.devices__phone {
	background: url("../img/feature/phone.png") no-repeat;
	width: 199px;
	height: 430px;
	position: absolute;
	right: 0;
	bottom: -10%;
}

/****** service2 *******/

.service2 {
	padding-top: 105px;
	padding-bottom: 110px;
}

.wedo {
	display: flex;
	margin-top: 90px;
}

.wedo__item {
	width: 50%;
}

.accordion__item {
	border: 1px solid #e5e5e5;
	margin-bottom: 10px;
}

.accordion__item.active 
.accordion__content {
	display: block;
}

.accordion__item.active
.accordion__header::after {
	transform: translateY(-15%) rotate(-45deg);
} 

.accordion__header {
	border-bottom: 1px solid #e5e5e5;
	height: 60px;
	padding: 20px 0 20px 60px;
	box-sizing: border-box;
	position: relative;
	cursor: pointer;
}

.accordion__header::after {
	content: "";
	display: block;
	width: 12px;
	height: 12px;
	border-top: 3px solid #ccc;
	border-right: 3px solid #ccc;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%) rotate(135deg);
}

.accordion__icon {
	position: absolute;
	top: 15px;
	left: 15px;
	height: 33px;
	width: 33px;
	background-repeat: no-repeat;
}

.accordion__icon--photo {
	background-image: url(../img/service2/photo-icon.png);
}

.accordion__icon--equalizer {
	background-image: url(../img/service2/equalizer-icon.png);
}

.accordion__icon--circle {
	background-image: url(../img/service2/circle-icon.png);	
}

.accordion__title {
	color: #333;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}

.accordion__content {
	display: none;
	padding: 15px 57px 20px 20px;
}

.accordion__text {
	color: #999;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	font-style: italic;
	font-weight: 400;
}

/****** quote *******/

.quote {
	background-color: #f8f8f8;
	padding: 70px 0;
}

.container--quote {
	position: relative;
}

.quote__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 150px;
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
	padding-left: 210px;
	box-sizing: border-box;
	background: url(../img/quote/qoute-icon.png) no-repeat;
}

.qoute__text {
	margin: 0;
	margin-top: 3px;
	color: #999;
	font-family: "Roboto", sans-serif;
	font-size: 24px;
	font-weight: 300;
	font-style: italic;
	line-height: 1.5;
}

.quote__author {
	color: #333;
	font-family: "Kaushan Script";
	font-size: 24px;
	position: relative;
	line-height: 24px;
	font-style: normal;
}

.quote__author::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	width: 60px;
	height: 3px;
	background-color: #f38181;
}

.quote__btn {
	font-size: 0;
	color: transparent;
	position: absolute;
	top: 50%;
}

.quote__btn::after {
	content: "";
	display: block;
	width: 12px;
	height: 12px;
	border-top: 3px solid #ccc;
	border-left: 3px solid #ccc;
}

.quote__btn--prev {
	left: 0;
	transform: rotate(-45deg);
}

.quote__btn--next {
	right: 0;
	transform: rotate(135deg);
}

/****** TEAM *******/

.team {
	padding-top: 90px;
	padding-bottom: 115px;
}

.team__list {
	display: flex;
	justify-content: space-between;
	margin-top: 85px;
	text-align: center;
	flex-wrap: wrap;
}

.card {

}

.card__background {
	background-color: #95e1d3;
}

.card__gradient {
	position: relative;
	transition: 0.3s;
}

.card__gradient:after {
	display: none;
	content: "";
  	position: absolute;
  	width: 100%;
  	height: 100%;
  	top: 0;
  	left: 0;
	background: linear-gradient(to bottom, #f38181, #fce38a);
	opacity: 0.9;
}

.card__img {
	display: block;
	width: 380px;
	height: 470px;
}

.card__background:hover .card__gradient {
	transform: translate3d(-10px, -10px, 0);
}

.card__background:hover .card__gradient:after  {
	display: block;
}

.card__background:hover .card__social-list {
	display: flex;
}

.card__name {
	color: #333;
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 3px;
}

.card__prof {
	color: #999;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	font-weight: 300;
	font-style: italic;
}

.card__social-list {
	display: none;
	position: absolute;
	top: 44%;
	left: 20%;
	z-index: 10;
}

.card__btn {
	margin-left: 1px;
	width: 55px;
	height: 55px;
	background-color: #fce38a;
	transition: background 0.3s;
}

.card__btn:hover {
	background-color: #f38181;
}

.card__link {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.card__icon {
	font-size: 27px;
	color: #f38181;
	transition: color 0.3s;
}

.card__btn:hover .card__icon {
	color: #ffffff;
}

/****** LOGOS *******/

.partners {
	background-color: #f6f6f6;
}

.partners__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 250px;
}


/****** WORK *******/

.work {
	padding-top: 105px;
}

.work__list {
	margin-top: 100px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.work__item {
	max-width: 480px;
	height: 390px;
	position: relative;
}

.work__item::after {
	display: none;
	content: "";
  	position: absolute;
  	width: 100%;
  	height: 100%;
  	top: 0;
  	left: 0;
	background: linear-gradient(to bottom, #f38181, #fce38a);
	opacity: 0.9;
}

.work__item:hover::after {
	display: block;
}

.work__img {
	display: block;
	width: 100%;
	height: 100%;
	transition: opacity 2s linear;
}

.work__item--double {
	grid-row: span 2 / auto;
	height: 780px;
}

.work__info {
	display: none;
	position: absolute;
	text-align: center;
	top: 40%;
	left: 50%;
	z-index: 1;
	transform: translateX(-50%);
}

.work__item:hover .work__info {
	display: block;
}

.work__icon {
	background: url(../img/work/picture-icon.png) no-repeat;
	width: 30px;
	height: 30px;
	margin: 0 auto;
	margin-bottom: 15px;
}

.work__title {
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
}

.work__text {
	color: #fff;
	font-family: "Roboto";
	font-weight: 300;
	font-style: italic;
}

/****** testimonial *******/

.testimonial {
	padding-top: 100px;
	padding-bottom: 130px;
	background-color: #fff;
}

.testimonial__item {
	background: none;
	padding: 0;
	max-width: 1000px;
	height: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.testimonial__img {
	border-radius: 50%;
	width: 210px;
	height: 210px;
	margin-right: 30px;
}

.testimonial__text {
	margin-bottom: 15px;
}

/****** clients *******/

.clients {
	box-sizing: border-box;
	background: url(../img/clients/clients-bg.jpg) no-repeat;
	background-size: cover;
	background-color: #f6f6f6;
	padding-top: 105px;
	padding-bottom: 60px;
}

.clients__list {
	padding-top: 80px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.clients__item {
	width: 375px;
	padding: 6px 40px 65px 140px;
	margin-left: 40px;
	position: relative;
}

.clients__photo {
	position: absolute;
	top: 0;
	left: 0;
}

.clients__name {
	color: #333333;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}

.clients__prof {
	color: #333333;
	font-family: "Roboto Light", sans-serif;
	font-size: 15px;
	font-weight: 300;
	font-style: italic;
}

.clients__prof.decoration-line::after {
	margin: 0;
	margin-top: 15px;
	margin-bottom: 20px;
}

.client__text {
	color: #999999;
	font-family: Roboto;
}

/****** blog *******/

.blog {
	padding-top: 106px;
	padding-bottom: 110px;
}

.blog__list {
	margin-top: 47px;
	display: flex;
	justify-content: space-between;

}

.blog__item {
	width: 380px;

}

.blog__image {
	position: relative;
	width: 380px;
	height: 240px;
}

.blog__date {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 70px;
	position: absolute;
	bottom: 10px;
	left: -10px;
	background-color: #95e1d3;
	color: #fff;
}

.blog__date--number {
	font-weight: bold;
	font-size: 30px;
	line-height: 1;
}

.blog__date--month {
	font-weight: normal;
	font-size: 15px;
	font-style: italic;
	font-family: "Roboto", sans-serif;
}

.blog__title {
	color: #333333;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 16px;
	margin-bottom: 8px;
}

.blog__text {
	color: #333333;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #e5e5e5;
}

.blog__link:visited {
	color: #333333;
}

.blog__link:hover {
	text-decoration: underline;
}

.blog__statistics {
	display: inline-block;
	margin-top: 14px;
	color: #999999;
	font-family: "Roboto", sans-serif;
	font-style: italic;
}

.blog__views {
	padding-left: 25px;
	margin-right: 15px;
	background: url(../img/blog/view-icon.png) no-repeat;
	background-position: center left;
}

.blog__comments {
	padding-left: 25px;
	background: url(../img/blog/comment-icon.png) no-repeat;
	background-position: center left;
}

/****** footer *******/ 

.footer {
	padding-top: 70px;
	padding-bottom: 40px;
	background-color: #f8f8f8;
}

.footer__inner {
	display: flex;
	justify-content: space-between;
}

/****** footer info *******/ 

.footer-info {
	width: 480px;
}

.footer-info__logo {
	color: #cccccc;
	font-size: 46px;
	line-height: 1;
	font-weight: 700;
	margin-bottom: 25px;
}

.footer-info__text {
	width: 466px;
	color: #999999;
	font-family: Roboto;
	font-size: 15px;
	margin-bottom: 45px;
}

.footer-info__followers {
	font-size: 18px;
	font-weight: 700;
	color: #333;
	margin-bottom: 13px;
}

.footer-info__followers::after {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background-color: #e5e5e5;
	margin-top: 13px;
}

.footer-info__followers--text {
	font-size: 14px;
	font-weight: 400;
}

.footer-info__follow-us {
	color: #999999;
	font-family: "Roboto", sans-serif;
	font-style: italic;
	display: inline;
}

.footer-socials {
	display: inline-block;
	cursor: default;
}

.footer-socials__item {
	display: inline-block;
	width: 30px;
	height: 25px;
	text-align: center;
	margin-right: 3px;
}

.footer-socials__link {
	display: block;
}

.footer-socials__link i {
	display: block;
	font-size: 25px;
	color: #95e1d3;
	transition: color 0.3s;
}

.footer-socials__link i:hover {
	color: #417d72;
}

/****** footer blogs *******/ 

.footer-blogs {
	padding-right: 40px;
}

.footer-blogs__title {
	color: #333333;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 35px;
}

.footer-blogs__list {

}

.footer-blogs__item {
	box-sizing: border-box;
	width: 345px;
	height: 79px;
	position: relative;
	padding-left: 140px;
	margin-bottom: 31px;
}

.footer-blogs__img {
	position: absolute;
	top: 0;
	left: 0;
	width: 119px;
	height: 79px;
}

.footer-blogs__text {
	display: inline-block;
	padding-top: 15px;
	color: #333333;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
}

.footer-blogs__text:hover {
	text-decoration: underline;
}

.footer-blogs__data {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-weight: 400;
	font-style: italic;
}

/****** footer instagram *******/

.footer-inst{

}

.footer-inst__title {
	color: #333333;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 35px;
}

.footer-inst__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 270px;
	height: 270px;
}

.footer-inst__item {
	width: 88px;
	height: 88px;
}

.footer-inst__link {
	display: inline-block;
	color: #333333;
	font-family: "Roboto", sans-serif;
	font-size: 13px;
	font-weight: 400;
	font-style: italic;
	margin-top: 15px;
}

.footer-inst__link:hover {
	text-decoration: underline;
}
