body {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #999999;
	line-height: 1.6;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

/******* HEADER *******/

.header {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
}

.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 90px;

}

.menu__logo {
	display: inline-block;
	font-weight: 700;
	font-size: 30px;
	color: #ffffff;
	align-self: flex-start;
	margin-top: 17px;
	transition: border 0.3s;
}

.menu__logo:hover {
	color: #f8d65e;
}

.menu__list {
	display: flex;
	justify-content: space-between;
	min-width: 620px;
}

.menu__link {
	font-size: 14px;
	color: #ffffff;
	text-transform: uppercase;
	transition: border 0.3s;
}

.menu__link:hover {
	color: #f8d65e;
	padding-bottom: 10px;
	border-bottom: 3px solid #f8d65e;
}

/****** INTRO *******/

.intro {
	height: 100vh;
	width: 100%;
	background: url("../img/header/header-bg.jpg") center no-repeat;
	background-size: cover;
	background-color: #ecaa86;
	padding-top: 230px;
	box-sizing: border-box;
}

.intro__inner {
	max-width: 860px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	color: #ffffff;
}

.intro__subtitle {
	font-family: "Kaushan Script", sans-serif;
	font-size: 72px;
	font-weight: 400;
}

.intro__title {
	font-size: 150px;
	font-weight: bold;
	line-height: 0.94;
	text-transform: uppercase;
	margin-top: 20px;
}

.decoration-line::after {
	content: "";
	display: block;
	margin: 0 auto;
	margin-top: 30px;
	width: 60px;
	height: 3px;
	background-color: #f38181;
}

.intro__title.decoration-line::after {
	background-color: #fff;
	margin-top: 55px;
}

.intro__btn {
	display: block;
	margin: 0 auto;
	margin-top: 50px;
	padding: 6px 0;
	width: 154px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	border: 3px solid #fff;
	transition: border 0.3s;	
}

.intro__btn:hover {
	border-color: #eaff00;
}

/****** section-header *******/

.section-header {
	max-width: 950px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	color: #333333;
}

.section-header__subtitle {
	font-family: "Kaushan Script", sans-serif;
	font-size: 24px;
	font-weight: 400;

}

.section-header__title {
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
}



.section-header__paragraph {
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	color: #999999;
	margin-top: 41px;
}

/****** ABOUT *******/

.about {
	padding-top: 85px;
	padding-bottom: 110px;
}

.about__content {
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
}

.about__item {
	width: 380px;
	height: 250px;
}
